.alert {
  background-color: var(--modal-bg-color);
  border-radius: 0.5rem;
  max-width: 450px;
  min-width: 250px;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  gap: 1rem;
  &__actions {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    .button {
      text-transform: uppercase;
      font-weight: bold;
      &:focus {
        outline: 2px solid var(--accent-color);
      }
    }
  }
  &--error {
    .icon {
      fill: var(--error-color-accent);
    }
  }
  &--success {
    .icon {
      fill: var(--accent-color);
    }
  }
  &--warning {
    .icon {
      fill: var(--warning-color);
    }
  }
}

.modal {
  &__title {
    text-align: center;
  }
}
