.button {
  background-color: transparent;
  user-select: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: filter 0.1s, background-color .2s, opacity 0.15s, color .2s;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: .4rem;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  &:active {
    filter: var(--brightness-filter);
  }
  &:hover {
    background-color: var(--btn-hover-color);
    color: var(--text-hover-color);
  }
  &--outlined {
    border: 2px solid var(--border-color);
  }
  &--autohide {
    opacity: 0;
  }
  &--autohide-icon {
    .icon {
      opacity: 0;
    }
  }
  &--fab {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
    justify-content: center;
  }
}