.input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;
  font-family: inherit;
  height: 100%;
  &::placeholder {
    font-weight: 700;
    opacity: 0.8;
  }
}